<html>
<head>
    <title><%= title %></title>
    <script src="/javascripts/lib/jquery-1.11.1.js"></script>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet"/>
    <link href="/stylesheets/style.css" rel="stylesheet"/>
</head>

<body ng-controller="ToDoCtrl">
<h2>Simple Restful API</h2>

<p>Open your browser's network inspector to see the JSON ajax requests</p>

<div class="row">
    <div class="col-xs-4">
        <h3>Post to API</h3>
        <a id="create" href="javascript:">Create: Send a post request</a>
        <script type="text/javascript">
            $("#create").on("click", function () {
                $.ajax({
                    type: "POST",
                    url: "/api/posts",
                    // The key needs to match your method's input parameter (case-sensitive).
                    data: JSON.stringify({
                        post: "New post with timestamp + " + (new Date).getTime()
                    }),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        console.log("Post successful")
                    },
                    failure: function (errMsg) {
                        console.error("Post not successful")
                    }
                });
            });
        </script>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h3>Read from API</h3>
        <a id="read" href="javascript:">Read: Send a get request</a>

        <p id="output"></p>

        <script type="text/javascript">
            $("#read").on("click", function () {
                $.getJSON("/api/posts", function (data) {
                    $("#output").text(JSON.stringify(data));
                });
            });
        </script>
    </div>
</div>

</body>
</html>